/* Navigation */
#logo img{
    margin: 10px 0px -14px -25px;
    height: 80px;
    border-radius: 10px;
    width: 96px;
}
#navbar{
    flex-direction: column;
    top: -25px;
    right: 0px;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
.search{
    padding: 8px;
}
/* Home Section */
#home{
    height: 420px;
    padding: 3px 50px;

}
#home::before{
    height: 600px;
}
#home h1{

    font-size: 1.5rem;
    font-family: 'emoji';
    padding: 0px 88px 32px 0px;
    margin: -2px 0px 4px 0px;
}

#home p{
    font-size: 17px;
    width: 117%;
    padding:0px;
}
#places{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
#place-item{
    padding: 34px;
}
#places img{
    height: 300px;
    width: 250px;
    padding: 34px;
    margin: 4px;
    border-radius: 96px 96px 0px 96px;
}
div.desc {
    text-align: center;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    padding: 100px;
}

/* Utility Classes */
.h-primary{
    font-size: 26px;
    margin: 25px;
}

.btn{
    font-size: 13px;
    padding: 4px 8px;
    margin: 20px;
}
